extends layout

block content
    h1 GREEN SUPER RICE
    br
    form.example(action='/search-with-info')
     input(type='text',placeholder='Search..',name='Content')
     button(type='submit')
      i.fa.fa-search
    br
    br
    br
    br
    div(id = "div02")
     br
     h2 Search Filter
     br
     form(action='/submit-form-with-info')
        label Country
        br
        select(name="Country")
          option(value='Select a Country') Select a Country
          option(value='Bangladesh') Bangladesh
          option(value='Cambodia') Cambodia
          option(value='Philippines') Philippines
          option(value='Sri Lanka') Sri Lanka
        br
        label Location
        br
        select(name="Location")
          option(value="Select a Location") Select a Location
          option(value="Gazipur") Gazipur
          option(value="BARDC") BARDC
          option(value="BARDC, Gazipur") BARDC, Gazipur
          option(value="Gazipur, Dinajpur, Rajshahi, Pabna") Gazipur, Dinajpur, Rajshahi, Pabna
          option(value="Mohanondakhali, Poba, Rajshahi") Mohanondakhali, Poba, Rajshahi
          option(value="Lokkhigola, Dacope, Khulna") Lokkhigola, Dacope, Khulna
          option(value="Dashuria seed farm, Dashuria, Pabna") Dashuria seed farm, Dashuria, Pabna
          option(value="Pabna") Pabna
          option(value="Modikhana,Dinajpur") Modikhana,Dinajpur
          option(value="Mondumala, Tanore, Rajshahi") Mondumala, Tanore, Rajshahi
          option(value="Khulna, Potuakhali, Dinajpur, Rajshahi") Khulna, Potuakhali, Dinajpur, Rajshahi
          option(value="Dinajpur") Dinajpur
          option(value="Rajshahi") Rajshahi
          option(value="Satkhira") Satkhira
          option(value="Dhaka") Dhaka
          option(value="Gazipur and Habiganj") Gazipur and Habiganj
          option(value="Gazipur, Rajshahi, Satkhira") Gazipur, Rajshahi, Satkhira
          option(value="Batalagoda") Batalagoda
          option(value="Phnom Penh and Prey Veng") Phnom Penh and Prey Veng
          option(value="Phnom Penh") Phnom Penh
          option(value="Laguna, Quezon") Laguna, Quezon
          option(value="Satkhira") Satkhira
        br
        label Year
        br
        select(name="Year")
          option(value="Select a Year") Select a Year
          option(value="2009") 2009
          option(value="2010") 2010
          option(value="2011") 2011
          option(value="2012") 2012
          option(value="2013") 2013
          option(value="2016") 2016
          option(value="2012-2013") 2012-2013
          option(value="2013-2014") 2013-2014
          option(value="2015-2016") 2015-2016     
        br
        br
        br
        input(type='submit',name='Submit')
        br
