extends layout

block layout-content
  div.View
    h1.Banner Green Super Rice
    div.Message
      div.Title
        h3 Search Filters
        h3 Query Results
      span.Details Display the files
    div.NavButtons
      a(href="/user")
          div.NavButton Find 







          doctype html
html
  head
    title Green Super RICE
    style
      include style.css
    body
      h1 Green Super Rice
      div(id = "div01")
        h2 Search Filter
        h3 Country
        br
        div 
         form(action = '/inputform',method = 'post')
         input(class = 'search-txt' type = 'text' name = 'searchvalue' placeholder='Type to search') 
         a(class = 'search-btn' href = '/country')  FIND
    script
      include script.js







html
   head
       title #{title} | country_details
   style
       include style.css
   body
      h1 Country details
      p country_details

   table
      for country in country_details
           tr
               td  country.id
               td  country.iso_code
               td  country.hasc_code
               td  country.name


               
 ul
   for country in country_details
       li  #{country_details}
