block variables
doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    title #{title} | GREENSUPERRICE
    style
      include style.css
    
  body
      block content





