/**
* This file is part of Breeding4Results.
* Breeding4Results is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
* 
* Breeding4Results is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Breeding4Results.  If not, see <http://www.gnu.org/licenses/>
*/
/*
* Search tool css
*/
nav.search-bar, #loading{
    margin: auto;
}
@media(min-width:700px) {
    nav.search-bar, #loading {
        width: 60%;
    }
}
@media(min-width:800px) {
    nav.search-bar, #loading {
        width: 50%;
    }
}
@media(min-width:1100px) {
    nav.search-bar, #loading {
        width: 40%;
    }
}
#help-search-btn{
    right: 3.1rem;
    opacity: 0.4;
}
#help-search-btn:hover{
    opacity: 1;
}
.input-field input[type=search] ~ .mdi-navigation-close, 
.input-field input[type=search] ~ .material-icons {
    color: inherit;
}
.nav-wrapper .input-field input[type=search] {
    padding-left: 2rem;
    width: calc(100% - 2rem);
}
#grid-search thead {
    display:none;
}
.pagination > li > a, .pagination > li > span {
    border: none;
    font-size: 100%;
    color: #337ab7;
    background-color: #f1f4f5;
}
.pagination > .active > a,.pagination > .disabled > span{
    background-color: #f1f4f5;
}
hr{
    display:none;
}
#view-product-tables > .summary {
    margin-top: -5px;
    float:right;
}
.summary{
    color: #777;
    margin-top: 20px;
}
#grid-search-container td{
    -webkit-box-shadow: 0 3px 9px -2px rgba(0,0,0,0.05);
    box-shadow: 0 3px 9px -2px  rgba(0,0,0,0.05);
}
#grid-search-container > .table > thead > tr > th {
    border-bottom: 1px solid #fff;
}
h6{
    font-size: 1rem;
}
.description{
    color: #333;
}
.search-meta, .search-meta > a, .header > .fa{
    color: #707070;
}
#grid-search-container > .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 15px 10px 20px 0px;
    border-top: none; 
}
.search-container{
    margin: 10px 30px 10px 25px;
}
@media screen and (max-width: 650px){
    .search-container {
        margin: 5px;
    }
}
.pagination{
    margin: 0px;
}
.pagination li.active a, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    color: #333;
    font-weight: bold;
    background-color: none;
}
.header-search{
    margin-top:10%;
}
.db-connection{
    text-align: center;
}
.tabs > li > a.active{
    border-bottom: 2px solid #f6b2b5;
}
.tabs > li > a:hover,.tabs > li > a{
    text-decoration:none;
}
table{
    overflow: hidden;
}
@media screen and (max-width: 480px){
    .kv-table-wrap tr > td:first-child {
        border: none;
        margin: 0;
    }
}
@media screen and (max-width: 480px){
    .kv-table-wrap th, .kv-table-wrap td {
        font-size: 1em;
    }
}   
.search-td-logo{
    width:50px;
    vertical-align:top;
}
.search-table{
    overflow: auto;
}
.search-table > tbody > tr > td {
    margin: auto;
    -webkit-box-shadow: none;
    box-shadow: none;

}
@media screen and (max-width: 730px){
    .search-table > tbody > tr > td {
        display: block;
        padding: 0px 0px 10px 0px;
    }
}
xx{
    background-color: #f7efcf;
    color:inherit;
    padding: 0.1em 0.2em;
}
.autocomplete-content {
    margin-top: -9px;
    position: absolute;
}
.modal-body {
    background-color:#f1f4f5;
}    
.collapsible-header{
    cursor: auto;
}
td.search-view{
    width: 50%;
    vertical-align:top;
    padding: 15px 5px 0px 5px;
    box-shadow: none;
    -webkit-box-shadow:none;
}
@media(max-width:990px){
    td.search-view{
        width: 100%;
        display:block;
    }
}
.collapsible-header{
    font-weight: 500;
}
.view-entity-content{
    margin-top:10px;
}
.collapsible-body {
    padding: 0px 1rem;
}
span.badge.new{
    line-height: 23px;
}
@media (min-width: 600px) and (max-width: 768px)
{
    .dl-horizontal dt {
        float: left;
        width: 160px;
        overflow: hidden;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .dl-horizontal dd {
        margin-left: 180px;
    }
}
@media (min-width: 480px) and (max-width: 600px)
{
    .dl-horizontal dt {
        float: left;
        width: 100px;
        overflow: hidden;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .dl-horizontal dd {
        margin-left: 120px;
    }
}
@media (min-width: 375px) and (max-width: 480px)
{
    .dl-horizontal dt {
        float: left;
        width: 80px;
        overflow: hidden;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .dl-horizontal dd {
        margin-left: 100px;
    }
}
.modal-header{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.view-entity-content.active,.a-tab.active{
    animation: SHW .5s linear;
    animation-fill-mode: both;
}
@-webkit-keyframes SHW {
    from {
        top: 100px;
        opacity:0;
    }
    to {
        top: 0px;
        opacity:1;
    }
}
.card-panel.pedigree-tree{
    font:11.5px/1.4 monospace;
}
@media (max-width: 550px)
{
    .hide-mobile {
        display:none;
    }
}
#passport-header{    
    display:none;
}
/*[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    opacity: 1;
}*/