html
  include ./form-with-get-info.pug

block content
  br
  h3 Search Results
  - var i = 0
  br
  table(style='width=100%',border='1')
    thead
      tr
        th SNo
        th Filename
        th Location
        th Sheetname
    tbody
      each search in search_details
        tr
          - i = i + 1
          td
            p #{i}
          td
            a(href="file://"+search.Location+"/"+search.Filename) #{search.Filename}
          td #{search.Location}
          td #{search.Sheetname}



      