/* style.css */

body {
  font-family: Arial;
}

* {
   box-sizing: border-box;
}

h1,
h2,
h3 {
  
  text-transform: uppercase;

  padding: 0;
  margin: 0;

  color: #2a3747;
}

h1 {
  font-size: 30px;
}

form.example input[type=text]{
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button{
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border-left: none;
  cursor: pointer;
}

#div02 {
  padding: 10px;
  background-color : white;
  border : 5px solid powderblue;
}

table, th, td {
	     background: -color : white;
         border: 1px solid powderblue;
      }



