extends layout

block content
 
 h3 Query Results
 - var i = 0

 table(style='width:100%', border='1')
   thead
     tr
       th SNo
       th StudyName
       th Location
       th Country
       th Season
       th Organization
       th Year
   tbody
     each study in study_details
       tr
         - i = i +1
         td 
           p #{i} 
         td 
           a(href = 'https://drive.google.com/drive/u/0/folders/1uXj3SZ5McMlQ32dow5Jzd9z4U4DiRUT7') #{study.StudyName}
         td #{study.Location}
         td #{study.Country}
         td #{study.Season}
         td #{study.Organization}
         td #{study.Year}
      
      
               
