extends layout

block content
    div(id = "div01")
     h2 Search Filter
     form(action='/submit-form-with-info')
        label Country
        br
        input(type='text',name='Country')
        br
        label Location
        br
        input(type='text',name='Location')
        br
        label Year
        br
        input(type='text',name='Year')
        br
        br
        br
        input(type='submit',name='Submit')
